<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Home</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/search" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Search</h2></a>
