<style>
  * {
  box-sizing: border-box;
}
.searchform {
  display: block;
  margin: 0;
  overflow: hidden;
  width: 50%;
}
label, input {
  vertical-align: baseline;
  color: #737373;
}
label {
  margin: 0.125em 0.125em 0 0;
  float: right;
  
}
input[type="search"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 22px;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;
  
}
input[type="search"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}
</style>
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- Html Elements for Search -->
<div id="search-container">
  <form class="searchform group">
    <label for="search-box">
      <span class="fa fa-2x fa-search"></span>
    </label>

    <input type="search" id="search-box" placeholder="Search Blog">
  </form>
    <ul id="results-container"></ul>
    </div>
    
    <!-- Script pointing to search-script.js -->
    <script src="/js/search-script.js" type="text/javascript"></script>
    
    <!-- Configuration -->
    <ul>
    <script>
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-box'),
      resultsContainer: document.getElementById('results-container'),
      searchResultTemplate: '<li><h2><a href="{url}">{title}</a></h2><time datetime="{date}">{datestr}</time><p>{content}</p></li>',
      noResultsText: '<p>No results found!</p>',
      json: '/search.json'
    })
    </script>
    </ul>